In [43]:
import numpy as np
from

In [3]:
import sys
sys.path.append('../')
from streetstudy.data import virat

In [20]:
video_df = virat.get_dataset_df()
video_df.head()

,path,num_frames,duration,image_width,image_height,event_file,object_file,mapping_file
name,,,,,,,,
VIRAT_S_000001,/mnt/d/data/virat/videos/VIRAT_S_000001.mp4,20655,689,1920.0,1080.0,VIRAT_S_000001.viratdata.events.txt,VIRAT_S_000001.viratdata.objects.txt,VIRAT_S_000001.viratdata.mapping.txt
VIRAT_S_000002,/mnt/d/data/virat/videos/VIRAT_S_000002.mp4,9075,302,1920.0,1080.0,VIRAT_S_000002.viratdata.events.txt,VIRAT_S_000002.viratdata.objects.txt,VIRAT_S_000002.viratdata.mapping.txt
VIRAT_S_000003,/mnt/d/data/virat/videos/VIRAT_S_000003.mp4,20940,698,1920.0,1080.0,VIRAT_S_000003.viratdata.events.txt,VIRAT_S_000003.viratdata.objects.txt,VIRAT_S_000003.viratdata.mapping.txt
VIRAT_S_000004,/mnt/d/data/virat/videos/VIRAT_S_000004.mp4,17640,588,1920.0,1080.0,VIRAT_S_000004.viratdata.events.txt,VIRAT_S_000004.viratdata.objects.txt,VIRAT_S_000004.viratdata.mapping.txt
VIRAT_S_000006,/mnt/d/data/virat/videos/VIRAT_S_000006.mp4,17805,594,1920.0,1080.0,VIRAT_S_000006.viratdata.events.txt,VIRAT_S_000006.viratdata.objects.txt,VIRAT_S_000006.viratdata.mapping.txt

In [63]:
dwelling_events = [1,2,3,4,5,6,7,8]

In [66]:
video_path = "/mnt/d/data/virat/videos/VIRAT_S_000002.mp4"
video_anno_df = virat.get_annotations_df(video_path, type='events')
video_anno_df = video_anno_df[['current_frame', 'bbox_lefttop_x', 'bbox_lefttop_y', 'bbox_rightbottom_x', 'bbox_rightbottom_y', 'event_type']]
video_anno_df['dwelling'] = 0

In [67]:
for _, row in video_anno_df.iterrows():
    if row['event_type'] in dwelling_events:
        row['dwelling'] = 1

In [68]:
video_anno_df

,current_frame,bbox_lefttop_x,bbox_lefttop_y,bbox_rightbottom_x,bbox_rightbottom_y,event_type,dwelling
0,2486,786,501,1034,711,6,1
1,2487,786,501,1034,711,6,1
2,2488,786,501,1034,711,6,1
3,2489,786,501,1034,711,6,1
4,2490,786,501,1034,711,6,1
...,...,...,...,...,...,...,...
1037,3967,910,429,1040,622,9,0
1038,3968,910,429,1040,622,9,0
1039,3969,910,429,1040,622,9,0
1040,3970,910,431,1040,623,9,0
1041,3971,910,431,1040,623,9,0

In [71]:
from sklearn.linear_model import LogisticRegression